* {
    padding: 0%;
    margin: 0%;
    background-color: #f0f8ff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#conteiner {
    /* background-color: aquamarine; */
    display: flex;
    
    height: 100%;
    width: 100%;
    justify-content:center;
    align-items:baseline;
    margin-top: 120px;
    margin-bottom: 120px;
}

#site {
    border: solid 8px  #717276;
    color: rgb(224, 147, 32);
    background-color: aliceblue;
    border-radius: 6px;
    height: auto;
    width: 40%;
}

#bemVindo {
    color: #717276;
    background-color: aliceblue;
    border-radius: 3px;
    text-align: center;
    padding: 40px;
    margin: 10px;
}

#bemVindo::after {
    content: '';
    width: auto;
    height: 5px;
    background: #717276;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

#dados {
    margin: 10px;
    padding: 8px;

    color: #717276;

    height: auto;
}

#dados li {
    margin: 0px 15px;
    margin-bottom: 15px;
    font-size: 18px;
}



#obrigado {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-style:italic;
    color: #717276;
    height: 70px;
}
#obrigado p::before {
    content: '';
    width: auto;
    height: 5px;
    background: #717276;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}